header{
 height:350px;
 background-image:url('https://cdn.filestackcontent.com/6yJPbkQ4SnybLJPKPLXP');
 background-repeat:no-repeat;
 background-size:100% 100%;
 margin-bottom: 30px;
}
.position{
	position: absolute;
	top: 100px;
	left: 60%;
	text-align: center;
	color: 333;
	font-weight: bold;
}
.title{
	font-size: 70px;
	font-family:"Arial Black", Gadget, sans-serif;
}
.description{
	font-size: 20px;
	font-style: italic;
}
